<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTH-8">
    <meta name="viewport" content="width=device-width">
    <title>Top secret</title>
  </head>
  <body>
    <h1>Secret Page!</h1>
    <form action="/userLogout" method="POST">
      <button>Log out</button>
    </form>
  </body>
</html>